html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#aurora {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  inset: 0;
  /* SOLO para debug, después lo sacás */
  background: transparent;
}


button{
  font-family: sans-serif;
  background-color: transparent;
  border-color: aliceblue;
  border-radius: 5px;
  height: 2.5rem;
  width: 5.5rem;
  color: aliceblue;
  transition: color 2s ease;
}

button:hover{
  color: rgb(198, 173, 255);
  /* text-shadow: 0 1px 2px rgb(234, 0, 255); */
  
}

.quiz-layer {
  position: relative;
  z-index: 10; /* por encima del canvas */
  color: aliceblue;
  max-width: 520px;
  margin: 0 auto;
}

.quiz-text {
  color: aliceblue;
  margin-bottom: 1rem;
}

.quiz-option {
  display: flex;
  align-items: center;
  gap: 8px;
  color: aliceblue;
  margin-bottom: 0.5rem;
}

.quiz-option span {
  color: aliceblue;
}